# Default ignored files
/workspace.xml
/inspectionProfiles/Project_Default.xml
/sonarlint/issuestore/0/d/0d2bb007e4ea363439bfb95eeb02ffa1e22130ce
/sonarlint/issuestore/4/d/4df9a1ed65b6f33ffa791c5d2fadb65b093f8725
/sonarlint/issuestore/8/e/8ec9a00bfd09b3190ac6b22251dbb1aa95a0579d
/sonarlint/issuestore/9/c/9c7f8f832bec6f658ce50ede6fb114553bf94aee
/sonarlint/issuestore/index.pb
/misc.xml
/modules.xml
/sbt.xml
/vcs.xml
/codeStyles/
/foosball-raspberry.iml
